.site-footer {
	position:relative;
	margin:0rem 0 0 0;
	padding:4rem 15px;
	font-size:1.3rem;
	text-transform:uppercase;
	line-height:1.75em;
	color:rgba(255,255,255,0.5);
	background:#1d1d1d;
	letter-spacing:1px;
	font-family:Playfair Display;
}
