body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #282829;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Courgette', cursive;
    color: #fff;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.title {
    color: #fff;
}

label {
    color: #fff;
}

.paper {
    color: #fff;
    background-color: #0a0a0a;
    padding: 32px;
}