/* Button */
.btn {
    border-radius: 15px;
}

.btn-dark {
    color: #000;
    background-color: #fff;
    margin: 0 5px;
}

.btn-light {
    color: #fff;
    background: none;
}

/* Navbar */
.navbar {
    background-color: #121117;
    color: #fff;
}

.navbar .nav-link {
    color: #fff !important;
}