.story {
    border: none;
    background-color: #0a0a0a;
    color: #fff;
    border-radius: 15px;
    margin: 5px;
}

.story img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.story a {
    color: #fff;
}

.top-stories {
    padding: 5px;
}

.top-stories img {
    border-radius: 15px;
}

.author {
    border: 1px solid #ddd;
    padding: 15px 0;
    background-color: #292c3b;
    border-radius: 15px;
    margin: 15px 0;
}

.comment {
    border-radius: 15px;
    margin: 15px auto;
    color: #fff;
}

.voice {
    background-color: #292c3b;
    padding: 15px;
    border-radius: 15px;
}

.voice select {
    margin: 0 5px;
    outline: none;
    border-color: #fff;
    background: none;
    color: #fff;
    border-radius: 15px;
    padding: 10px 5px;
}

.voice select option {
    color: #000;
}

.voice .btn-play {
    outline: none;
    border-radius: 50%;
    padding: 5px 8px;
    margin: 0 5px;
    background-color: #28a745;
    border-color: #fff;
    color: #fff;
}


.voice .btn-cancel {
    outline: none;
    border-radius: 50%;
    padding: 5px 8px;
    margin: 0 5px;
    background-color: #f43547;
    border-color: #fff;
    color: #fff;
}